experiment_name: debug_config
n_repeats: 1
scenario_params_list:
 - partners_count: 
    - 3
   amounts_per_partner: 
    - [0.5, 0.25, 0.25]
   samples_split_option: 
    - 'random'
   multi_partner_learning_approach:
    - 'fedavg'
    - 'seq'
    - 'seqavg'
   aggregation_weighting: 
    - 'data_volume'
   corrupted_datasets:
    - [not_corrupted, not_corrupted, not_corrupted]
   gradient_updates_per_pass_count:
    - 8
   is_quick_demo: 
    - True
   methods:
    - ["Independent scores"]
