experiment_name: debug_config
n_repeats: 1
scenario_params_list:
 - partners_count: 
    - 3
   amounts_per_partner: 
    - [0.45, 0.45, 0.1]
   samples_split_option: 
    - 'stratified'
   aggregation_weighting: 
    - 'local_score'
   corrupted_datasets: 
    - [not_corrupted, not_corrupted, corrupted]
   is_quick_demo: 
    - True
   methods:
    - ["Independant scores"]
