experiment_name: my_example
n_repeats: 1
scenario_params_list:
 - dataset_name:
     - 'titanic'
   partners_count:
     - 3
   amounts_per_partner:
     - [0.4, 0.3, 0.3]
   samples_split_option:
     - ['basic', 'random']
   multi_partner_learning_approach:
     #- 'fedavg'  # DOES NOT WORK CURRENTLY, NEED FIX
     - 'seq-pure'
   aggregation_weighting:
     - 'data_volume'
   epoch_count:
     - 30
   methods:
     - ["Shapley values", "Independent scores", "TMCS"]
   minibatch_count:
     - 10
   gradient_updates_per_pass_count:
     - 8
