experiment_name: debug_config
n_repeats: 1
scenario_params_list:
 - dataset_name:
    - 'mnist'
    - 'cifar10'
   partners_count:
    - 3
   amounts_per_partner: 
    - [0.2, 0.5, 0.3]
   samples_split_option:
    - ['advanced', [[4, 'shared'], [6, 'shared'], [4, 'specific']]]
   multi_partner_learning_approach:
    - 'stacking'
   aggregation_weighting:
    - 'uniform'
   methods:
    - ["TMCS", "Independent scores"]
   gradient_updates_per_pass_count:
    - 5
   is_quick_demo:
    - True
